.divider {
  color: #ddd;
  background-color: #ddd;
  height: 1px;
  margin: 8px 0;
}

.btn-view-menu {
  color: #deb62f;
  vertical-align: inherit;
}

.order-total {
  color: #deb62f;
}

.order-details {
  font-size: 14px;
  color: #8f8e88;
}