.restaurant-delivery-time {
  top: 10px;
  left: 10px;
  background-color: rgba($color: #fff, $alpha: 0.5);
}

.restaurant-details {
  bottom: 10px;
  left: 10px;
  background-color: rgba($color: #fff, $alpha: 0.7);
}

.restaurant-image {
  padding-top: calc(1 / 3 * 100%); /* aspect ratio 3:2 */
  background-position: center;
  background-size: cover;
}

.food-image {
  padding-top: calc(1 / 1 * 100%); /* aspect ratio 3:2 */
  background-position: center;
  background-size: cover;
}

.food-price {
  color: #f5d158;
}

.btn-place-order {
  color: #fff;
  background-color: #F5D158;
  border-radius: 50px;
}

.btn-place-order:hover {
  color: #fff;
  background-color: #deb62f;
}

.btn-add-basket {
  color: #f5d158;
}

.btn-add-basket:hover {
  color: #deb62f;
}

.bg-basket {
  background-color: rgba(245, 209, 88, 0.2);
  border: 1px solid #f5d158;
  border-radius: 25px;

}