.btn-category {
  background-color: #f2f2f2;
  color: #3c3b36;
  border-radius: 50px;
}

.btn-category:hover {
  color: #F5D158;
}

.restaurant-delivery-time {
  top: 10px;
  left: 10px;
  background-color: rgba($color: #fff, $alpha: 0.5);
}

.restaurant-address {
  color: #8f8e88;
  font-size: 14px;
}

.restaurant-price-range {
  color: #F5D158;
}

.restaurant-price-fill {
  color: #F5D158;
}

.icon-location-dot {
  color: #867de9 !important;
}

.btn-load-more {
  color: #fff;
  background-color: #F5D158;
  border-radius: 50px;
}

.btn-load-more:hover {
  color: #fff;
  background-color: #deb62f;
}



