.btn-category {
  background-color: #f2f2f2;
  width: 70px;
  height: 70px;
}

.category-square {
  color: #f2f2f2;
}

.restaurant-delivery-time {
  top: 10px;
  left: 10px;
  background-color: rgba($color: #fff, $alpha: 0.5);
}

.restaurant-address {
  color: #8f8e88;
}

.restaurant-price-range {
  color: #deb62f;
}

.icon-location-dot {
  color: #867de9 !important;
}

.btn-load-more {
  color: #fff;
  background-color: #deb62f;
  border-color: #deb62f;
}

.btn-filter:hover {
  color: #deb62f;
}

