.icon-location-dot {
  color: #867de9 !important;
}

.order-delivery-address {
  color: #8f8e88;
}
.icon-circle {
  color: #e8e7e9;
}

.icon-call-circle {
  color: #f5d158;
}

.icon-phone {
  color: #867de9 !important;
}

.order-restaurant-name {
  color: #f5d158;
}

.btn-order-history {
  color: #fff;
  background-color: #f5d158;
  border-radius: 50px;
}

.btn-order-history:hover {
  color: #fff;
  background-color: #deb62f;
}


.mapouter .gmap_iframe,
.map-area .mapouter,
.mapouter .gmap_canvas {
  height: 100%; 
  width: 100%;
}

.map-area {
  width: 100%; 
  border-radius: 30px; 
  overflow: hidden;
}

@media (max-width: 1200px) {
  .order-details-wrap {
    padding: 40px 20px;
  }

  .order-info-wrap {
    padding-left: 10px;
    padding-right: 50px;
  }
}

@media (max-width: 992px) {
  .order-details-wrap {
    padding: 0;
  }

  .map-area {
    height: 300px;
  }
}

@media (max-width: 576px) {
  .order-info-wrap {
    padding: 0;
  }
  
}