* {
  margin: 0;
  padding: 0;
  transition: 0.2s ease;
  user-select: none;
}

/* -------------------------- */
/* ---- General ---- */

body {
  color: #3c3b36;
}

.btn:focus {
  outline: none!important;
  box-shadow: none!important;
}

/* Container */

.container {
  max-width: 1760px;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-left: 40px;
  padding-right: 40px;
}

@media (max-width: 1200px) {
  .container {
    padding-right: 40px;
    padding-left: 40px;
  }
}

@media (max-width: 768px) {
  .container {
    padding-right: 24px;
    padding-left: 24px;
  }
}

/* Image aspect ratios */

.aspect-ratio-rectangle {
  padding-top: calc(2 / 3 * 100%); /* aspect ratio 3:2 */
  background-position: center;
  background-size: cover;
}

.aspect-ratio-square {
  padding-top: calc(1 / 1 * 100%); /* aspect ratio 1:1 */
  background-position: center;
  background-size: cover;
}

/* -------------------------- */
/* ---- Layout Component ---- */

/*  Navbar // start */
#navbar {
  z-index: 2;
  height: 80px;
}

#navbarMenu {
  top: 0;
  left: 0;
  right: 0;
  padding-top: 88px;
}

#navbarMenu .nav-link {
  padding: 12px 0;
  font-weight: 300;
}

.hamburger-menu {
  position: absolute;
  left: 0;
  top: 0;
  width: 270px;
  height: 100vh;
  background-color: #fff;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.2);
  border: 1px solid rgba(0, 0, 0, .04);
  text-align: left;
  z-index: 2;
  overflow-y: auto;
}

.navbar-nav {
  z-index: 1;
}

.btn-log-in {
  color: #3c3b36;
  background-color: #fff;
  border-color: #3c3b36;
  border-radius: 50px;
  width: 120px;
}

.btn-log-in:hover {
  color: #3c3b36;
  background-color: #fff;
  border-color: #3c3b36;
  border-radius: 50px;
  width: 120px;
}

.btn-sign-up {
  color: #fff;
  background-color: #3c3b36;
  border-color: #3c3b36;
  border-radius: 50px;
  width: 120px;
}

.btn-sign-up:hover {
  color: #fff;
  background-color: #3c3b36;
}

.btn-user-menu, .btn-logout {
  position: relative;
  color: #3c3b36;
  background-color: #fff;
  border-color: #3c3b36;
  border-radius: 50px;
}

.user-menu {
  position: absolute;
  font-size: 14px;
  line-height: 1.375;
  right: 0;
  top: 60px;
  width: 100%;
  max-height: calc(100vh - 32px);
  margin: 0;
  padding: 16px 0;
  background-color: #fff;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.2);
  border: 1px solid rgba(0, 0, 0, .04);
  border-radius: 16px;
  text-align: left;
  z-index: 90;
  overflow-y: auto;
}

.user-menu li {
  padding: 10px 24px;
}

@media (max-width: 576px) {
  .btn-log-in {
    width: 80px;
  }

  .btn-sign-up {
    width: 80px;
  }
}

/*  Navbar // end */

/*  Children // start */
.content {
  min-height: calc(100vh - 112px);
}
/*  Children // end */

/*  Footer // start */
#footer {
  color: #3c3b36;
  border-top: 1px solid #e2e2e2;
  background: #fff;
}

#footer img {
height: 40px;
}

.divider {
  color: #f6f6f6;
  background-color: #f6f6f6;
  height: 1px;
}

.footer-column li a:hover {
  color: #3c3b36;
  text-decoration: underline;
}
/*  Footer // end */


/* -------------------------- */
/* ---- Home Component ---- */

/*  Hero content // start */
.bg-image {
  // padding-top: calc(2 / 3 * 100%); /* aspect ratio 3:2 */
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  min-height: 650px;
}

.overlay {
  top: 0;
  background-color: rgba(238, 238, 238, 0.5);
  z-index: 1;
}

.dark-overlay-active {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(60, 59, 54, 0.7);
}

.fixed-position {
  position: fixed;
  top: 0; 
  bottom: 0; 
  right: 0;
  left: 0;
}

.hero-title {
  font-size: 90px;
  line-height: 90px;
  width: 40%;
}

.btn-find-food {
  color: #fff;
  background-color: #F5D158;
  border-radius: 50px;
}

.btn-find-food:hover {
  color: #fff;
  background-color: #deb62f;
}

@media (max-width: 768px) {
  .hero-title {
    font-size: 60px;
    line-height: 60px;
  }
}

@media (max-width: 576px) {
  .hero-title {
    font-size: 50px;
    line-height: 50px;
    width: 70%;
  }
}
/*  Hero content // end */

/*  Countries with Super Eats // start */
.country-list li a:hover {
  color: #3c3b36;
  text-decoration: underline;
}
/*  Countries with Super Eats // end */


/* ------------------------ */
/* ---- Framework CSS ----- */

*{margin:0;padding:0;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;}
h1, h2, h3, h4, h5, h6, p, ul {margin-bottom: 0;}
a {text-decoration: none; display: inline-block; color: inherit;}
a:hover,a:focus {color: #3c3b36; text-decoration: none; outline: none;}
img {max-width: 100%; display: block;}
ul {list-style: none;}
button {border:none;outline: none;box-shadow: none;display: block; padding: 0;cursor: pointer;background: transparent;}
button:focus {outline: none;}
input,textarea {outline: none; box-shadow: none;transition: all 0.3s ease-in-out;}
audio,video,canvas {max-width: 100%;}
iframe {border: none !important;}

.p-0 {padding: 0 !important;}
.m-0 {margin:  0 !important;}

.pt-5   {padding-top: 5px !important;}
.pt-10  {padding-top: 10px;}
.pt-15  {padding-top: 15px;}
.pt-20  {padding-top: 20px;}
.pt-25  {padding-top: 25px;}
.pt-30  {padding-top: 30px;}
.pt-35  {padding-top: 35px;}
.pt-40  {padding-top: 40px;}
.pt-45  {padding-top: 45px;}
.pt-50  {padding-top: 50px;}
.pt-55  {padding-top: 55px;}
.pt-60  {padding-top: 60px;}
.pt-65  {padding-top: 65px;}
.pt-70  {padding-top: 70px;}
.pt-75  {padding-top: 75px;}
.pt-80  {padding-top: 80px;}


.pb-5   {padding-bottom: 5px !important;}
.pb-10  {padding-bottom: 10px;}
.pb-15  {padding-bottom: 15px;}
.pb-20  {padding-bottom: 20px;}
.pb-25  {padding-bottom: 25px;}
.pb-30  {padding-bottom: 30px;}
.pb-35  {padding-bottom: 35px;}
.pb-40  {padding-bottom: 40px;}
.pb-45  {padding-bottom: 45px;}
.pb-50  {padding-bottom: 50px;}
.pb-55  {padding-bottom: 55px;}
.pb-60  {padding-bottom: 60px;}
.pb-65  {padding-bottom: 65px;}
.pb-70  {padding-bottom: 70px;}
.pb-75  {padding-bottom: 75px;}
.pb-80  {padding-bottom: 80px;}


.pl-5   {padding-left: 5px !important;}
.pl-10  {padding-left: 10px;}
.pl-15  {padding-left: 15px;}
.pl-20  {padding-left: 20px;}
.pl-25  {padding-left: 25px;}
.pl-30  {padding-left: 30px;}
.pl-35  {padding-left: 35px;}
.pl-40  {padding-left: 40px;}
.pl-45  {padding-left: 45px;}
.pl-50  {padding-left: 50px;}
.pl-55  {padding-left: 55px;}
.pl-60  {padding-left: 60px;}
.pl-65  {padding-left: 65px;}
.pl-70  {padding-left: 70px;}
.pl-75  {padding-left: 75px;}
.pl-80  {padding-left: 80px;}


.pr-5   {padding-right: 5px !important;}
.pr-10  {padding-right: 10px;}
.pr-15  {padding-right: 15px;}
.pr-20  {padding-right: 20px;}
.pr-25  {padding-right: 25px;}
.pr-30  {padding-right: 30px;}
.pr-35  {padding-right: 35px;}
.pr-40  {padding-right: 40px;}
.pr-45  {padding-right: 45px;}
.pr-50  {padding-right: 50px;}
.pr-55  {padding-right: 55px;}
.pr-60  {padding-right: 60px;}
.pr-65  {padding-right: 65px;}
.pr-70  {padding-right: 70px;}
.pr-75  {padding-right: 75px;}
.pr-80  {padding-right: 80px;}


.mt-5   {margin-top: 5px !important;}
.mt-10  {margin-top: 10px;}
.mt-15  {margin-top: 15px;}
.mt-20  {margin-top: 20px;}
.mt-25  {margin-top: 25px;}
.mt-30  {margin-top: 30px;}
.mt-35  {margin-top: 35px;}
.mt-40  {margin-top: 40px;}
.mt-45  {margin-top: 45px;}
.mt-50  {margin-top: 50px;}
.mt-55  {margin-top: 55px;}
.mt-60  {margin-top: 60px;}
.mt-65  {margin-top: 65px;}
.mt-70  {margin-top: 70px;}
.mt-75  {margin-top: 75px;}
.mt-80  {margin-top: 80px;}


.mb-5   {margin-bottom: 5px !important;}
.mb-10  {margin-bottom: 10px;}
.mb-15  {margin-bottom: 15px;}
.mb-20  {margin-bottom: 20px;}
.mb-25  {margin-bottom: 25px;}
.mb-30  {margin-bottom: 30px;}
.mb-35  {margin-bottom: 35px;}
.mb-40  {margin-bottom: 40px;}
.mb-45  {margin-bottom: 45px;}
.mb-50  {margin-bottom: 50px;}
.mb-55  {margin-bottom: 55px;}
.mb-60  {margin-bottom: 60px;}
.mb-65  {margin-bottom: 65px;}
.mb-70  {margin-bottom: 70px;}
.mb-75  {margin-bottom: 75px;}
.mb-80  {margin-bottom: 80px;}


.ml-5   {margin-left: 5px !important;}
.ml-10  {margin-left: 10px;}
.ml-15  {margin-left: 15px;}
.ml-20  {margin-left: 20px;}
.ml-25  {margin-left: 25px;}
.ml-30  {margin-left: 30px;}
.ml-35  {margin-left: 35px;}
.ml-40  {margin-left: 40px;}
.ml-45  {margin-left: 45px;}
.ml-50  {margin-left: 50px;}
.ml-55  {margin-left: 55px;}
.ml-60  {margin-left: 60px;}
.ml-65  {margin-left: 65px;}
.ml-70  {margin-left: 70px;}
.ml-75  {margin-left: 75px;}
.ml-80  {margin-left: 80px;}


.mr-5   {margin-right: 5px !important;}
.mr-10  {margin-right: 10px;}
.mr-15  {margin-right: 15px;}
.mr-20  {margin-right: 20px;}
.mr-25  {margin-right: 25px;}
.mr-30  {margin-right: 30px;}
.mr-35  {margin-right: 35px;}
.mr-40  {margin-right: 40px;}
.mr-45  {margin-right: 45px;}
.mr-50  {margin-right: 50px;}
.mr-55  {margin-right: 55px;}
.mr-60  {margin-right: 60px;}
.mr-65  {margin-right: 65px;}
.mr-70  {margin-right: 70px;}
.mr-75  {margin-right: 75px;}
.mr-80  {margin-right: 80px;}


@media (max-width: 1399px) {
  .xl-p-0 {padding: 0 !important;}
  .xl-m-0 {margin:  0 !important;}

  .xl-pt-10  {padding-top: 10px !important;}
  .xl-pt-20  {padding-top: 20px !important;}
  .xl-pt-30  {padding-top: 30px !important;}
  .xl-pt-40  {padding-top: 40px !important;}
  .xl-pt-50  {padding-top: 50px !important;}
  .xl-pt-60  {padding-top: 60px !important;}
  .xl-pt-70  {padding-top: 70px !important;}
  .xl-pt-80  {padding-top: 80px !important;}

  .xl-pb-10  {padding-bottom: 10px !important;}
  .xl-pb-20  {padding-bottom: 20px !important;}
  .xl-pb-30  {padding-bottom: 30px !important;}
  .xl-pb-40  {padding-bottom: 40px !important;}
  .xl-pb-50  {padding-bottom: 50px !important;}
  .xl-pb-60  {padding-bottom: 60px !important;}
  .xl-pb-70  {padding-bottom: 70px !important;}
  .xl-pb-80  {padding-bottom: 80px !important;}

  .xl-mt-10  {margin-top: 10px !important;}
  .xl-mt-20  {margin-top: 20px !important;}
  .xl-mt-30  {margin-top: 30px !important;}
  .xl-mt-40  {margin-top: 40px !important;}
  .xl-mt-50  {margin-top: 50px !important;}
  .xl-mt-60  {margin-top: 60px !important;}
  .xl-mt-70  {margin-top: 70px !important;}
  .xl-mt-80  {margin-top: 80px !important;}

  .xl-mb-10  {margin-bottom: 10px !important;}
  .xl-mb-20  {margin-bottom: 20px !important;}
  .xl-mb-30  {margin-bottom: 30px !important;}
  .xl-mb-40  {margin-bottom: 40px !important;}
  .xl-mb-50  {margin-bottom: 50px !important;}
  .xl-mb-60  {margin-bottom: 60px !important;}
  .xl-mb-70  {margin-bottom: 70px !important;}
  .xl-mb-80  {margin-bottom: 80px !important;}
} 
/*(max-width: 1399px)*/

@media (max-width: 1199px) {
  .lg-p0 {padding: 0 !important;}
  .lg-m0 {margin:  0 !important;}

  .lg-pt-10  {padding-top: 10px !important;}
  .lg-pt-20  {padding-top: 20px !important;}
  .lg-pt-30  {padding-top: 30px !important;}
  .lg-pt-40  {padding-top: 40px !important;}
  .lg-pt-50  {padding-top: 50px !important;}
  .lg-pt-60  {padding-top: 60px !important;}
  .lg-pt-70  {padding-top: 70px !important;}
  .lg-pt-80  {padding-top: 80px !important;}

  .lg-pb-10  {padding-bottom: 10px !important;}
  .lg-pb-20  {padding-bottom: 20px !important;}
  .lg-pb-30  {padding-bottom: 30px !important;}
  .lg-pb-40  {padding-bottom: 40px !important;}
  .lg-pb-50  {padding-bottom: 50px !important;}
  .lg-pb-60  {padding-bottom: 60px !important;}
  .lg-pb-70  {padding-bottom: 70px !important;}
  .lg-pb-80  {padding-bottom: 80px !important;}

  .lg-mt-10  {margin-top: 10px !important;}
  .lg-mt-20  {margin-top: 20px !important;}
  .lg-mt-30  {margin-top: 30px !important;}
  .lg-mt-40  {margin-top: 40px !important;}
  .lg-mt-50  {margin-top: 50px !important;}
  .lg-mt-60  {margin-top: 60px !important;}
  .lg-mt-70  {margin-top: 70px !important;}
  .lg-mt-80  {margin-top: 80px !important;}

  .lg-mb-10  {margin-bottom: 10px !important;}
  .lg-mb-20  {margin-bottom: 20px !important;}
  .lg-mb-30  {margin-bottom: 30px !important;}
  .lg-mb-40  {margin-bottom: 40px !important;}
  .lg-mb-50  {margin-bottom: 50px !important;}
  .lg-mb-60  {margin-bottom: 60px !important;}
  .lg-mb-70  {margin-bottom: 70px !important;}
  .lg-mb-80  {margin-bottom: 80px !important;}
}
/*(max-width: 1199px)*/

@media (max-width: 991px) {
  .md-p0 {padding: 0 !important;}
  .md-m0 {margin:  0 !important;}

  .md-pt-10  {padding-top: 10px !important;}
  .md-pt-20  {padding-top: 20px !important;}
  .md-pt-30  {padding-top: 30px !important;}
  .md-pt-40  {padding-top: 40px !important;}
  .md-pt-50  {padding-top: 50px !important;}
  .md-pt-60  {padding-top: 60px !important;}
  .md-pt-70  {padding-top: 70px !important;}
  .md-pt-80  {padding-top: 80px !important;}

  .md-pb-10  {padding-bottom: 10px !important;}
  .md-pb-20  {padding-bottom: 20px !important;}
  .md-pb-30  {padding-bottom: 30px !important;}
  .md-pb-40  {padding-bottom: 40px !important;}
  .md-pb-50  {padding-bottom: 50px !important;}
  .md-pb-60  {padding-bottom: 60px !important;}
  .md-pb-70  {padding-bottom: 70px !important;}
  .md-pb-80  {padding-bottom: 80px !important;}

  .md-mt-10  {margin-top: 10px !important;}
  .md-mt-20  {margin-top: 20px !important;}
  .md-mt-30  {margin-top: 30px !important;}
  .md-mt-40  {margin-top: 40px !important;}
  .md-mt-50  {margin-top: 50px !important;}
  .md-mt-60  {margin-top: 60px !important;}
  .md-mt-70  {margin-top: 70px !important;}
  .md-mt-80  {margin-top: 80px !important;}

  .md-mb-10  {margin-bottom: 10px !important;}
  .md-mb-20  {margin-bottom: 20px !important;}
  .md-mb-30  {margin-bottom: 30px !important;}
  .md-mb-40  {margin-bottom: 40px !important;}
  .md-mb-50  {margin-bottom: 50px !important;}
  .md-mb-60  {margin-bottom: 60px !important;}
  .md-mb-70  {margin-bottom: 70px !important;}
  .md-mb-80  {margin-bottom: 80px !important;}
}
/*(max-width: 991px)*/



@media (max-width: 767px) {
  .sm-p0 {padding: 0 !important;}
  .sm-m0 {margin:  0 !important;}

  .sm-pt-10  {padding-top: 10px !important;}
  .sm-pt-20  {padding-top: 20px !important;}
  .sm-pt-30  {padding-top: 30px !important;}
  .sm-pt-40  {padding-top: 40px !important;}
  .sm-pt-50  {padding-top: 50px !important;}
  .sm-pt-60  {padding-top: 60px !important;}
  .sm-pt-70  {padding-top: 70px !important;}
  .sm-pt-80  {padding-top: 80px !important;}

  .sm-pb-10  {padding-bottom: 10px !important;}
  .sm-pb-20  {padding-bottom: 20px !important;}
  .sm-pb-30  {padding-bottom: 30px !important;}
  .sm-pb-40  {padding-bottom: 40px !important;}
  .sm-pb-50  {padding-bottom: 50px !important;}
  .sm-pb-60  {padding-bottom: 60px !important;}
  .sm-pb-70  {padding-bottom: 70px !important;}
  .sm-pb-80  {padding-bottom: 80px !important;}

  .sm-mt-10  {margin-top: 10px !important;}
  .sm-mt-20  {margin-top: 20px !important;}
  .sm-mt-30  {margin-top: 30px !important;}
  .sm-mt-40  {margin-top: 40px !important;}
  .sm-mt-50  {margin-top: 50px !important;}
  .sm-mt-60  {margin-top: 60px !important;}
  .sm-mt-70  {margin-top: 70px !important;}
  .sm-mt-80  {margin-top: 80px !important;}

  .sm-mb-10  {margin-bottom: 10px !important;}
  .sm-mb-20  {margin-bottom: 20px !important;}
  .sm-mb-30  {margin-bottom: 30px !important;}
  .sm-mb-40  {margin-bottom: 40px !important;}
  .sm-mb-50  {margin-bottom: 50px !important;}
  .sm-mb-60  {margin-bottom: 60px !important;}
  .sm-mb-70  {margin-bottom: 70px !important;}
  .sm-mb-80  {margin-bottom: 80px !important;}
}
/*(max-width: 767px)*/

@media (max-width: 576px) {
  .xs-p0 {padding: 0 !important;}
  .xs-m0 {margin:  0 !important;}

  .xs-pt-10  {padding-top: 10px !important;}
  .xs-pt-20  {padding-top: 20px !important;}
  .xs-pt-30  {padding-top: 30px !important;}
  .xs-pt-40  {padding-top: 40px !important;}
  .xs-pt-50  {padding-top: 50px !important;}
  .xs-pt-60  {padding-top: 60px !important;}
  .xs-pt-70  {padding-top: 70px !important;}
  .xs-pt-80  {padding-top: 80px !important;}

  .xs-pb-10  {padding-bottom: 10px !important;}
  .xs-pb-20  {padding-bottom: 20px !important;}
  .xs-pb-30  {padding-bottom: 30px !important;}
  .xs-pb-40  {padding-bottom: 40px !important;}
  .xs-pb-50  {padding-bottom: 50px !important;}
  .xs-pb-60  {padding-bottom: 60px !important;}
  .xs-pb-70  {padding-bottom: 70px !important;}
  .xs-pb-80  {padding-bottom: 80px !important;}

  .xs-mt-10  {margin-top: 10px !important;}
  .xs-mt-20  {margin-top: 20px !important;}
  .xs-mt-30  {margin-top: 30px !important;}
  .xs-mt-40  {margin-top: 40px !important;}
  .xs-mt-50  {margin-top: 50px !important;}
  .xs-mt-60  {margin-top: 60px !important;}
  .xs-mt-70  {margin-top: 70px !important;}
  .xs-mt-80  {margin-top: 80px !important;}

  .xs-mb-10  {margin-bottom: 10px !important;}
  .xs-mb-20  {margin-bottom: 20px !important;}
  .xs-mb-30  {margin-bottom: 30px !important;}
  .xs-mb-40  {margin-bottom: 40px !important;}
  .xs-mb-50  {margin-bottom: 50px !important;}
  .xs-mb-60  {margin-bottom: 60px !important;}
  .xs-mb-70  {margin-bottom: 70px !important;}
  .xs-mb-80  {margin-bottom: 80px !important;}
}
/*(max-width: 575px)*/