/* Container */

.container {
  max-width: 1760px;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-left: 80px;
  padding-right: 80px;
}

@media (max-width: 1200px) {
  .container {
    padding-right: 40px;
    padding-left: 40px;
  }
}

@media (max-width: 768px) {
  .container {
    padding-right: 24px;
    padding-left: 24px;
  }
}

/* Content */

.content {
  min-height: calc(100vh - 112px);
}