.bg-login {
  background-color: #f2f2f2;
  width: 75%;
}

.btn-login-signup {
  color: #fff;
  background-color: #f5d158;
  border-radius: 50px;
  width: 120px;
}

.btn-login-signup:hover {
  color: #fff;
  background-color: #deb62f;
}

.btn-delivery-login {
  color: #fff;
  background-color: #f5d158;
  border-radius: 50px;
}

.btn-delivery-login:hover {
  color: #fff;
  background-color: #deb62f;
}