.btn-trip-contact {
  color: #fff;
  background-color: #F5D158;
  border-radius: 15px;
}

.btn-trip-contact:hover {
  color: #fff;
  background-color: #deb62f;
}

.trips-wrap {
  background-color: #f2f2f2;
}

.trip-earning {
  font-size: 22px;
}